// double.wing.scss
.double {
	margin-bottom: 10px;
	header {
		padding: 15px;
		background: #222;
		text-align: center;
		color: #fff;
		h1 {
			color: #f5222d;
			font-size: 22px;
		}
	}
	.main-1 {
		padding: 0 200px;
		height: 350px;
		.left, .main, .right {
			position: relative;
			float: left;
		}
		.left {
			margin-left: -100%;
			left: -200px;
			width: 200px;
			height: 230px;
			background: #ddd;
		}
		.main {
			width: 100%;
			// padding: 0 200px;
			background: #f90;
			height: 300px;
		}
		.right {
			margin-left: -200px;
			right: -200px;
			width: 200px;
			padding: 10px;
			background: #fadb14;
		}
	}
	&.grail {
		main, aside {
			float: left;
		}
		.main-2 {
			width: 100%;
		}
		.left-side {
			margin-left: -100%;
			width: 200px;
			height: 150px;
			background: #1890ff;
			color: #eee;
		}
		.right-side {
			margin-left: -200px;
			width: 200px;
			height: 250px;
			background: #7cb305;
		}
		.main-inner {
			margin-left: 200px;
			margin-right: 200px;
			background: #ff9c6e;
			height: 200px;
		}
	}
}