$red: #f5222d;
$volcano: #fa541c;
$sunset: #fa8c16;
$gold: #faad14;
$sunrise: #fadb14;
$lime: #a0d911;
$green: #52c41a;
$cyan: #13c2c2;
$blue: #1890ff;
$geekblue: #2f54eb; // 极客蓝
$purple: #722ed1;
$magenta: #eb2f96;// 法式洋红
$grey: #595959;