/* @charset "UTF-8"; */
.hei, .header {
  padding: 20px 10px;
  background: #262626;
  color: #fff;
}

input {
  padding: 8px;
  border: 1px solid #1890ff;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 0 2px #1890ff;
}

input:hover {
  border-color: #f90;
}

input:focus {
  box-shadow: 0 0 2px #fa8c16;
}

.l {
  float: left;
}

.r {
  float: right;
}

.clearfix {
  display: block;
  clear: both;
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.divider {
  width: 100%;
  height: 1px;
  background: #999;
  margin: 10px 0;
}

code.red {
  color: #f5222d;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
}

.btn.primary {
  background: #1890ff;
}

.btn.success {
  background: #52c41a;
}

.btn.danger {
  background: #f5222d;
}

.btn.warning {
  background: #fa8c16;
}

.pad10 {
  padding: 10px;
}

.pad20 {
  padding: 20px;
}

.pad30 {
  padding: 30px;
}

.pad40 {
  padding: 40px;
}

.pad50 {
  padding: 50px;
}

.puma-icon {
  background-image: url("./images/puma.png");
}

.sea-icon {
  background-image: url("./images/sea.png");
}

.egret-icon {
  background-image: url("./images/egret.png");
}

.salamander-icon {
  background-image: url("./images/salamander.png");
}

.d-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #eee;
}

.d-scroll::webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f90;
}

.d-scroll::webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f5f5f5;
}

.d-scroll::-webkit-scrollbar-button:horizontal:decrement:hover {
  opacity: 1;
}

.d-scroll::-webkit-scrollbar-thumb:window-inactive {
  opacity: 0;
}
