/*
    常用的一些css样式。网上学习上看到的
*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    display: block;
    content: '';
}
*:after {
    clear: both;    //具有一个清除浮动的效果
}

.tooltip {
    position: relative;
    display: inline-block;
    padding: 0 10px;

}
.tooltip-content {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    /*注意这里可以不要设置top，而是设置bottom*。不要老是使用 top/
    bottom: 100%;  /*这样的content就会跑到a标签的正上方的*/
    margin-bottom : 20px;   /*再使气泡距离下方一定的距离*/
}