.border {
  border: 1px solid #eee;
}
.header {
  color: #f00;
}
h2 {
  color: #4D926F;
}
#title h1 {
  font-size: 26px;
  font-weight: bold;
  color: #f92;
}
#title p {
  font-size: 16px;
}
#title p a {
  text-decoration: none;
  padding: 5px 8px;
}
#title p a:hover {
  color: #fff;
  border: 1px solid #4D926F;
  background: #4D926F;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #f50;
  -moz-box-shadow: 0 0 2px #f50;
  box-shadow: 0 0 2px #f50;
}
.panel-one {
  background: #3c924d;
  font-size: 18px;
}
.panel-one span {
  display: inline-block;
  color: #f00;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 0 1px #eee;
  cursor: pointer;
}
.panel-one span:hover {
  box-shadow: 0 1px 2px 3px #eee, 0 1px 3px 4px #ddd;
  transform: translateX(30px) rotate(360deg);
  transition: all 0.4s ease-out;
}
.panel-one p {
  border: 1px solid #eee;
  font-size: 20px;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.panel-one p a {
  display: block;
  text-align: center;
  padding: 5px;
  background: #f92;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.panel-one p a:hover {
  transform: scale(1.1);
  transition: all .5s ease;
}
.panel-one p a:active {
  background: #fff;
}
.panel-one .location {
  font-size: 16px;
  padding: 5px;
  line-height: 24px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url("../image/item3.jpg");
}
.panel-one .location:hover {
  background: #eee;
  -webkit-box-shadow: 0 5px 0 #f92;
  -moz-box-shadow: 0 5px 0 #f92;
  box-shadow: 0 5px 0 #f92;
}
.panel-two {
  position: relative;
}
.panel-two .phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-right: 50px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  box-sizing: border-box;
  transition: all .3s ease;
  color: #f92;
}
.panel-two .phone i {
  position: absolute;
  top: 5px;
  right: -45px;
  font-size: 18px;
}
.panel-two .phone:hover {
  border-right-color: #f92;
  color: #fff;
}
