$bgc: #f5f5f5;
body {
  background: $bgc;
}

.container {
  height: 500px;
  display: grid;
  // grid-template-rows: 10% 20% 30%;
  grid-template-columns: 10% 20% 30%;
  grid-gap: 10px;
  grid-row-gap: 20px;
}

.container > div {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background: #666;
  &:nth-child(2n) {
    background: #366;
  }
  &:nth-child(4n) {
    background: #4a6;
  }
}